<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head', { pageTitle: "Détail de l'utilisateur"}) %>
    <body>
        <h1>USER DETAIL</h1>

        <h3><%= user.name %></h3>
    </body>
</html>
